{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block side_bar_before_nav %}
    <ul>
        <li>
            <a href="{{ path('admin_app_application_list') }}">
                Applications
            </a>
        </li>
        <li>
            <a href="{{ path('admin_app_operator_list') }}">
                Operators
            </a>
        </li>
        <li>
            <a href="{{ path('admin_app_subscription_list') }}">
                Subscriptions
            </a>
        </li>
        <li>
            <a href="{{ path('admin_app_subscriber_list') }}">
                Subscribers
            </a>
        </li>
    </ul>
{% endblock %}